body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: center;
    background-color: #ff2323;
    color: #ffff;
    padding: 10 1rem;
}
.logo a{

    color #f0ac45;
    text-decoration: solid;
    font-size: medium;
    font-style: inherit;
}
.logo span{

    color: #dc3545;
}
.img{
    padding: 100git;
    width: 5;
}

.container {
    display: contents;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    font-size: larger;
    margin-bottom: 100px;
}

form {
    display:flex;
    flex-direction:column;
  
    
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button[type="button"] {
    background-color: #007bff;
    color: #fff;
}

button[type="reset"] {
    background-color: #dc3545;
    color: #fff;
}

#valores-calculados {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 3px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

footer {
    padding: 100;
    color: #007bff;
    background-size: ;
    margin-top: 10px;
    text-align: justify;

    color: #000000;
}


.footer {
    background-color: #03458b;
    color: white;
    text-align: justify;
    padding: 10px 0;
    width: 10;
    position:static;
    bottom: 0;
   
}

.footer-line {
    height: 5px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 5px;
}
